<nav>
    <div class="logo">logo</div>
    <ul class="menu" >
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
    </ul>
    <ul class="menu-mobile" >
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
    </ul>
    <div class="menu-right">
        <div class="search">search</div>
        <div class="chart">chart</div>
    </div>
</nav>